snippet todo "Todo red color" !w
\\\\033[31mToDo\\\\033[0m:
    \\\\033[31m > \\\\033[0m ${0}
endsnippet

snippet bug "Bugs yellow color" !w
\\\\033[33mBugs\\\\033[0m:
    \\\\033[33m 💀 \\\\033[0m ${1}
    \\\\033[33m 💀 \\\\033[0m ${2}
endsnippet


snippet red "red color" !w
\\\\033[31m ${1:red} \\\\033[0m${0}
endsnippet

snippet yellow "yellow color" !w
\\\\033[33m ${1:yellow} \\\\033[0m${0}
endsnippet

snippet green "green color" !w
\\\\033[32m ${1:green} \\\\033[0m${0}
endsnippet

snippet > "Right arrow" w!
► ${0}
endsnippet

snippet < "Right arrow" w!
◀ ${0}
endsnippet

snippet -> "Right arrow" w!
⟼  ${0}
endsnippet

snippet <- "Left arrow" w!
⟻   ${0}
endsnippet

snippet <-> "iLeft - Right arrow" w!
⟷  ${0}
endsnippet

snippet square "square" w!
☐ ${0}
endsnippet

snippet - "square" w!
☐  ${0}
endsnippet

snippet done "square" w!
☑  ${0}
endsnippet


snippet undone "square" w!
☑  ${0}
endsnippet

snippet square "square" w!
☐  ${0}
endsnippet

snippet good "check mark" w!
✔ ${0}
endsnippet

snippet bad "Bad X mark" w!
✘ ${0}
endsnippet

snippet dead "dead skull" w!
☠ ${0}
endsnippet

snippet skull "dead skull" w!
☠  ${0}
endsnippet

snippet danger "danger" w!
☢ ${0}
endsnippet

snippet king "king Chess" w!
♚  ${0}
endsnippet

snippet queen "Queen Chess" w!
♛  ${0}
endsnippet

snippet rook "Rook Chess" w!
♜ ${0}
endsnippet

snippet bishop "bishop Chess" w!
♝ ${0}
endsnippet

snippet knight "Knight Chess" w!
♞ ${0}
endsnippet

snippet pawn "Pawn Chess" w!
♟ ${0}
endsnippet

snippet spade "Spade Chess" w!
♠ ${0}
endsnippet

snippet heart "Heart" w!
♥ ${0}
endsnippet

snippet diamond "Diamond" w!
♦ ${0}
endsnippet

snippet club "Club" w!
♣ ${0}
endsnippet

