snippet docs "Header for info files" w!
# ------------------------------------------------------
#	File:        ${1:`!v vim_snippets#Filename('$1', '.info')`}
#	Author:      ${2:`!v g:snips_author`} ${3:𝑒𝑙𝑐𝒉𝑖𝑛𝑜𝑡𝟕}
#	Email:       ${4:`!v g:snips_email`}
#	Github:      ${5:`!v g:snips_github`}
#	Description: ${6:INFO}
# ------------------------------------------------------
${0}
endsnippet

