
snippet docs "Header for info files" w!
#!/bin/bash
# ------------------------------------------------------
#	File        : ${1:`!v vim_snippets#Filename('$1')`}
#	Author      : ${2:`!v g:snips_author`}
#	Email       : ${3:`!v g:snips_email`}
#	Github      : ${4:`!v g:snips_github`}
#	Description : ${5:INFO}
# ------------------------------------------------------
${0}
endsnippet
