# vi:syntax=sh
# ------------
# ADDED by  ET
# ------------

snippet docs "Header for info files" w!
% ------------------------------------------------------
%	File:        ${1:`!v vim_snippets#Filename('$1', '.info')`}
%	Author:      ${2:`!v g:snips_author`} ${3:𝑒𝑙𝑐𝒉𝑖𝑛𝑜𝑡𝟕}
%	Email:       ${4:`!v g:snips_email`}
%	Github:      ${5:`!v g:snips_github`}
%	Description: ${6:INFO}
% ------------------------------------------------------
${0}
endsnippet

snippet %% "Line separator" b
% --------------------------------------------------------
%  ⚛  ∴ ⚛  ∴ ⚛  ∴ ⚛  ∴ ⚛  ∴ ⚛  ∴ ⚛  ∴ ⚛  ∴ ⚛  ∴ ⚛  ∴ ⚛  ∴ 
% --------------------------------------------------------
${0}
endsnippet

snippet %- "Line separator" b
% --------------------------------------------------------
%                 ${1:TEXT} 
% --------------------------------------------------------
${0}
endsnippet

snippet foot "add \footnote{}" w!
\footnote{${1:FOOTNOTE}} ${0}
endsnippet

# Equan array
snippet eqn "equationarray environment" !w
\begin{eqnarray}
   && ${1}
    \\\\
   && ${2}
\end{eqnarray}
${0}
endsnippet

# Equation array with label
snippet eqnl "Labeled equation array environment" !w
\begin{eqnarray} \label{eq:${1}}
   &&${2}
    \\\\
   && ${3}
\end{eqnarray}
${0}
endsnippet

# Equation array unnumbered
snippet eqn* "Unnumbered equation array environment" !w
\begin{eqnarray*}
   &&${1}
    \\\\
   &&${2}
\end{eqnarray*}
${0}
endsnippet

snippet com "add \mycomment{}" w!
\mycomment{${1:COMMENT}}
endsnippet

snippet my "add \mycomment{}" w!
\mycomment{${1:COMMENT}}
endsnippet

snippet myc "add \mycomment{}" w!
\mycomment{${1:COMMENT}}
endsnippet

snippet mycom "add \mycomment{}" w!
\mycomment{${1:COMMENT}}
endsnippet

snippet et "add \etcomment{}" w!
\etcomment{${1:COMMENT}}
endsnippet

snippet etc "add \etcomment{}" w!
\etcomment{${1:COMMENT}}
endsnippet

#ref equations
snippet eqr "\eqref{}" w! 
Eq.~\eqref{${1:eq:}}
endsnippet

snippet ref "\ref{}" w!
\ref{${1:LABEL}}
endsnippet

# cite a BIBENTRY

snippet cit "\cite{}" w!
\cite{${1:BIBENTRY}}
endsnippet

snippet cite "\cite{}" w!
\cite{${1:BIBENTRY}}
endsnippet

snippet _ "{A}_{B}" w!
${1:obj}_{${2:sub}}
endsnippet

snippet dn "{A}_{B}" w!
${1:obj}_{${2:sub}}
endsnippet

snippet up "{A}^{B}" w!
${1:base}^{${2:exp}}
endsnippet

snippet ^ "{A}^{B}" w!
${1:base}^{${2:exp}}
endsnippet

snippet ** "{A}^{B}" w!
{${1:base}}^{${2:exp}}
endsnippet

snippet exp "{A}^{B}" w!
{${1:base}}^{${2:exp}}
endsnippet

snippet "\/" "\frac{}{}" w!
\frac{${1:num}}{${2:den}}
endsnippet

snippet - "\frac{}{}" w!
\frac{${1:num}}{${2:den}}
endsnippet

snippet dot "\dot{}" w!
\dot{${1:x}}
endsnippet

snippet sq "\sqrt{}" w!
\sqrt{${1:x}}
endsnippet

snippet d "\delta" w!
\delta ${1:x}
endsnippet

snippet mean "\langle \rangle" w!
\langle ${1:x} \rangle
endsnippet

snippet int "\int x dx" w!
\int ${1:x} d${2:x}
endsnippet

snippet cte "\mbox{cte}" w!
\mbox{cte}
endsnippet

snippet bar "\bar{}" w!
\bar{${1:x}}
endsnippet

snippet nabla2 "\Nabla^2" w!
\nabla^2
endsnippet

# ---------------------------------------
# Tensors
# ---------------------------------------
snippet tensor "Tensor contravariant" w!
{${1:Tensor}}_{${2:index}}
endsnippet

snippet ten "Tensor contravariant" w!
{${1:Tensor}}_{${2:index}}
endsnippet

snippet tend "Tensor contravariant" w!
{${1:Tensor}}_{${2:index}}
endsnippet

snippet tenu "Tensor contravariant" w!
{${1:Tensor}}^{${2:index}}
endsnippet

snippet tenud "Tensor contravariant" w!
{${1:Tensor}}^{${2:index}}_{${3:index}}
endsnippet

snippet tendu "Tensor contravariant" w!
{${1:Tensor}}_{${2:index}}^{${3:index}}
endsnippet

snippet du "Tensor contravariant" w!
{${1:Tensor}}_{${2:index}}^{${3:index}}
endsnippet

snippet du "Tensor contravariant" w!
{${1:Tensor}}^{${2:index}}_{${3:index}}
endsnippet
# ---------------------------------------
