# set Ctrl-a as the default prefix key combination
# and unbind C-b to free it up
unbind C-b
set -g prefix C-a
bind C-a send-prefix

# set scrollback history to 10000 (10k)
set -g history-limit 10000

set -g default-terminal "screen-256color"

# Set window notifications
setw -g monitor-activity on
set -g visual-activity on

# Automatically set window title
#setw -g automatic-rename off

#Prevent a window name change
set-window-option -g allow-rename off

# set window and pane index to 1 (0 by default)
set-option -g base-index 1
setw -g pane-base-index 1

 # reload ~/.tmux.conf using PREFIX r
bind r source-file ~/.tmux.conf \; display "Reloaded!"

# use PREFIX | to split window horizontally and PREFIX - to split vertically
bind | split-window -h
bind - split-window -v


# map Vi movement keys as pane movement keys
bind h select-pane -L
bind j select-pane -D
bind k select-pane -U
bind l select-pane -R

# and use C-h and C-l to cycle thru panes
bind -r C-h select-window -t :-
bind -r C-l select-window -t :+

 # resize panes using PREFIX H, J, K, L
bind H resize-pane -L 5
bind J resize-pane -D 5
bind K resize-pane -U 5
bind L resize-pane -R 5
# explicitly disable mouse control
setw -g mode-mouse on
set -g mouse-select-pane on
set -g mouse-resize-pane on
set -g mouse-select-window on

# Use vim keybindings in copy mode
#setw -g mode-keys vi
set-window-option -g mode-keys vi

## setup 'v' to begin selection as in Vim
#bind-key -t vi-copy v begin-selection
#bind-key -t vi-copy y copy-pipe "reattach-to-user-namespace pbcopy"
#set-option -g default-command "reattach-to-user-namespace -l zsh"
if-shell 'test "$(uname)" = "Darwin"' 'source ~/dotfiles/tmux_osx.config'
if-shell 'test "$(uname)" = "Linux"' 'source ~/dotfiles/tmux_linux.config'

# ----------------------
# set some pretty colors
# ----------------------
# set pane colors - hilight the active pane
set-option -g pane-border-fg colour235 #base02
set-option -g pane-active-border-fg colour240 #base01


# List of plugins
set -g @plugin 'tmux-plugins/tpm'
#set -g @plugin 'tmux-plugins/tmux-sensible'
set -g @plugin 'tmux-plugins/tmux-resurrect'
set -g @plugin 'tmux-plugins/tmux-open'
set -g @plugin 'tmux-plugins/tmux-copycat'
set -g @plugin 'tmux-plugins/tmux-yank'
set -g @plugin 'tmux-plugins/tmux-battery'

# Other examples:
# set -g @plugin 'github_username/plugin_name'
# set -g @plugin 'git@github.com/user/plugin'
# set -g @plugin 'git@bitbucket.com/user/plugin'

set -g @batt_charged_icon "🔋   "
set -g @batt_charging_icon "⚡️  "
set -g @batt_discharging_icon "💀  "
set -g @batt_attached_icon "😐   "

set -g status-interval 5

# Initialize TMUX plugin manager (keep this line at the very bottom of tmux.conf)
run '~/.tmux/plugins/tpm/tpm'
